*/target/
target/
*~
.lib/
.idea/
.idea_modules/
*.stackdump
tmp/
project/target/
*.class
*.iml
*.ipr
*.iws
out
# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.log
.history
# sbt specific
.cache
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/

project/project
project/target

asmblscp.sh